
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

#main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.game-bar {
  display: flex;
  gap: 1rem;
} 

.game-bar button {
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(3,minmax(100px,150px));
  grid-template-columns: repeat(3,minmax(100px,150px));
  justify-content: center;
  gap: 1rem;
}

.game-board > .cell {
  border: 1px solid black;
}

.game-board button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 6rem;
}

.game-board .o-choice {
  color:red;
}

.message-paragraph {
  font-size: 2rem;
  font-weight: 600;
}